@if (showShell()) {
  <mat-sidenav-container class="shell">
    <mat-sidenav mode="side" opened class="sidenav">
      <div class="brand">
        <mat-icon>car_repair</mat-icon>
        <span>Emergencias</span>
      </div>
      <mat-nav-list>
        @for (item of visibleNav(); track item.path) {
          <a mat-list-item [routerLink]="item.path" routerLinkActive="active">
            <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
            <span matListItemTitle>{{ item.label }}</span>
          </a>
        }
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <span>Panel de taller</span>
        <span class="spacer"></span>
        <span class="role-badge">{{ roleLabel() }}</span>
        <button mat-icon-button (click)="logout()" aria-label="Cerrar sesión">
          <mat-icon>logout</mat-icon>
        </button>
      </mat-toolbar>
      <router-outlet />
    </mat-sidenav-content>
  </mat-sidenav-container>
} @else {
  <router-outlet />
}
